@font-face {
  font-family: Roboto-Regular;
  src: url('../webfonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../webfonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('../webfonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Thin;
  src: url('../webfonts/Roboto-Thin.ttf');
}

@font-face {
  font-family:FontAwesome;
  src:url('../webfonts/fontawesome-webfont.eot?v=4.5.0');
  src:url('../webfonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),url('../webfonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('../webfonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('../webfonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('../webfonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight:400;
  font-style:normal;
}

body {
  font-family: Roboto-Regular, sans-serif;
  color: #fff !important;
  font-size: 12px;
}

p {
  font-family: Roboto-Regular, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #fff;
}

a, a:hover, a:focus {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

/*----------------------------------------------------------------------------
5 Columns Style
----------------------------------------------------------------------------*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
/*----------------------------------------------------------------------------
Containers
----------------------------------------------------------------------------*/
.container{
  margin-top: 30px;
  margin-bottom: 20px;
}

.container-full{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 30px;
  width: 100%;
}

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0px;

}
.navbar-brand {float: right;}

.navbar-inverse{
  background: transparent;
}

.navbar-default{
  background: url("../images/slice_1_1.png") repeat;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding:5px;
}

.navbar-default .navbar-nav > li > a{
  border-radius: 6px;
  color: #fff;
  font-family: Roboto-Bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #171717;
}

.navbar-left{ margin-left: 20px }

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: solid 2px #fff;
  background: #000;
  padding: 0px;
  margin: 3px 0px;
  border-radius: 10px !important;
}

.navbar-btn:hover{
  background: #ae0000;
  border-color: #ae0000;
}

.navbar-btn:active,.navbar-btn:active:focus, .navbar-btn:active:hover{
  background: #ae0000;
  border-color: #720000;
}


.nav-link{
  text-align: center;
  font-size: 20px;
}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo{
  padding: 3px 20px !important;
}

.breadcrumb{
  background-color: #535353;
  text-transform: uppercase;
  font-size: small;
  font-family: Roboto-Bold;
  text-align: center;
  margin:0px;
}
.breadcrumb>li+li:before {
  content: "-";
}
.breadcrumb>.active {
  font-family: Roboto-Light;
  color: #fff;
}


.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.btn{
  border-radius: 20px;
  font-family: Roboto-Regular;
}

.btn-noround{
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Roboto-Bold;
  font-size: 12px;
}

.btn-danger{
  background: #ae0000;
}
.btn-danger:hover{
  background: #ba2626;
  border-color: #ae0000;
}
.btn-danger:active,.btn-danger:active:focus, .btn-danger:active:hover{
  background: #ae0000;
  border-color: #720000;
}

.btn-primary{
  background: #0071bc;
}


.btn-success{
  background: #71c600;
}


.btn-warning{
  background: #ffd600;
}


.btn-default{
  background: transparent;
  border:2px solid #fff;
  color:#fff;
}

.btn-default:hover{
  color:#fff;
  background: #ae0000;
  border-color: #ae0000;
}

.btn-default:active,.btn-default:active:focus, .btn-default:active:hover{
  color:#fff;
  background: #ae0000;
  border-color: #720000;
}

.btn-uppder{
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  font-family: Roboto-Bold;
  margin:10px 0;
}
}

.footer {
  bottom:0;
  color:#fff;
  left:0px;
  padding:10px;
  position:absolute;
  right:0;
}

/*--------------------
LOGIN STYLE
--------------------*/
.roundedform{
  background: url("../images/slice_1_1.png") repeat;
  border-radius:20px;
  padding: 15px;
  padding-top: 0px !important;
}

.login-user{
  border-width: 0px;
  position: relative;
  top: -25px;
  margin-bottom: -25px;
}



.form-control{
  border-radius: 20px !important;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}



.input-group .form-control{
  border-radius: 0px 20px 20px 0px !important;
}

.input-group-addon {

  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 20px;
}

.form-label-group{
  padding: 10px 0px;
}

form{
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* ----------------
CONTENT STYLE
---------------- */
small, .small{
  font-size: 75%;
}

#content {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background:#444 url("../images/bg.png") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cont-right, .cont{  padding: 20px; }

.cont-right > div, .cont > div {width:284px;}
.cont-right > div{ float: right;}
.cont-right{text-align: right;}

@media screen and (max-width:58em) {
  .cont-right, .cont{
    text-align: center;

  }
  .cont-right > div, .cont > div{ float: none; width: auto;}
}

.thinContent{
  margin-top: 10px;
}

.thinContent b{ font-family: Roboto-Thin; letter-spacing: 2px;}

@media (max-width: 991px) and (min-width: 768px){
  .cont-expand .btn {
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px){
.cont-expand .btn {
  display: block;
  width: 100%;
  }
}


.no-border td{border-top: none !important;}

.added-section>td{

   border-top:solid 1px #777 !important;
}

.place-tables{
  padding-top: 30px !important;
}
.place-tables .row, .row-nomargin{
      margin-right: 0px;
      margin-left: 0px;

}
.place-tables a.btn-lg{
  padding: 10px 23px;
  border-radius: 10px;
  border-width: 1px;
  margin: 4px;
vertical-align: middle !important;
}

.rightbar{
  font-family: Roboto-Bold;
  font-size: 10px;
  text-transform: uppercase;
  background: #141414;
  width:120px;
  vertical-align: middle;
}

@media (max-width: 767px){
.rightbar {
  vertical-align: top;
  }
}


.rightbar a.btn-xs{
      padding: 2px 10px;
      margin: 2px 0;
}

.btn-envio {padding: 9px 2px 8px 2px !important;}

.rightbar a.btn-default{ border-width: 1px;}

.lnk-lg{
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.lnk-lg:hover{
  background: #f2f2f2;
}
.lnk-lg>img{ display: block; margin:auto;}

/*----------------------------------------------------------------------------
 Panel Syle
----------------------------------------------------------------------------*/
.panel-default>.panel-heading{
  text-transform: uppercase;
  vertical-align: middle;
}

.panel-default>.panel-body{
  color:#000;
}

.panel-row{

  margin-left: 0px;
  margin-right: 0px;
}

.panel-row, .panel-default>.panel-body .row{
  padding: 4px 0px;
}

.panel-default>.panel-body .input-group-addon {
  background-color: #eee;
    border: 1px solid #ccc;
}

.panel-default>.panel-body .input-group-addon:first-child {
    border-right: 0;
}

.panel-default>.panel-body .form-control {
  background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
  }

.inner-panel{
  background: #f2f2f2;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.inner-panel>.panel-body{
  padding: 5px;
}

/*----------------------------------------------------------------------------
 Thumbnail Syle
----------------------------------------------------------------------------*/
.thumbnail, .thumbnail .panel-image{
  background: #fff;
  border-radius: 20px;

}
.thumbnail{
  background: url("../images/slice_1_1.png") repeat;
  padding: 20px;
  margin: 10px 0px;
}

.thumbnail .panel{
  margin-bottom: 5px;
  border: 0px;
  background-color: #af0000;
  border-radius: 4px;
}
.thumbnail .panel-image{
  text-align: center;
  padding: 10px 0px;
}

.thumbnail .panel-image>img {
    max-width: 70%;
}

.thumbnail .panel .panel-body, .thumbnail .sub-panel{
  padding: 5px;
  text-transform: uppercase;
}

.thumbnail .panel .panel-body{
  text-align: center;
}
.thumbnail .sub-panel{
  font-family: Roboto-Bold;
  margin-bottom: 5px;
}

.thumbnail .caption img{
  margin: 0px;
  display: inline;
}

.thumbnail .link-default{
  color: #af0000;
  text-transform: uppercase;
  font-size: small;
  font-family: Roboto-Bold;
}

.thumbnail .link-default:hover{
  color: #fff;
}


.thumbnail-sm{ font-size: 12px; padding: 10px; border-radius: 10px;}
.thumbnail-sm .col-nopadding{ padding-left: 10px; padding-right: 10px;}
.thumbnail-sm .caption{ color:#fff;}

/* ------------------
SIDEBAR STYLE
------------------- */
#sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  left: -240px;
  height: 100vh;
  z-index: 999;
  background: #ae0000;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  background: #ae0000;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 20px;
}
#dismiss:hover {
  background: #ba2626;
}


.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: none;
}

#sidebar .sidebar-header {
  padding: 20px;
  text-align: center;
}

#sidebar ul.components {
  padding: 20px 0;
  padding-top: 0px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar a,#sidebar .sidebar-header{
  border-bottom: solid 2px #880000;
}

#sidebar ul li a {
  padding: 12px;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #ba2626;
}

#sidebar ul li a>img{
  padding-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #880000;
}



a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\f107';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'FontAwesome';
  font-size: 22px;
}
a[aria-expanded="true"]::before {
  content: '\f106';
}


#sidebar ul ul a {
  font-size: 12px !important;
  padding-left: 30px !important;
  background: #880000;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386D5;
}
a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  background-color: transparent;
  border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
  background-color: transparent;
  border: 1px solid #ddd;
  color: #fff;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #ae0000;
  border-color: #ae0000;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #000;
}

.dataTables_wrapper .dataTables_filter{
  display: none;
}
.dataTables_wrapper .dataTables_actions{
  margin-left: 200px;
  text-align: center;
}

.dataTable .alt-color{ color:#af0000; }
.dataTable  .odd .alt-color{ background:#cccccc; }
.dataTable  .alt-color{background:#d5d7d8;}

.dataTable .success, .dataTable .warning, .dataTable .danger{

  text-transform: uppercase;

}
.dataTable .success{
  background-color: #71c600;
}
.dataTable .warning{
background-color: #ffd600
}
.dataTable .danger{
  background-color: #af0000;
}


/*---------------------------------------------------------------------------
  MODAL STYLE
----------------------------------------------------------------------------*/
@media (min-width: 768px){
  .modal-dialog { margin: 90px auto;  }
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  opacity: 0.8;
  text-shadow: none;
  border: solid 2px #fff;
  border-radius: 35px;
  font-size: 18px;
  padding: 0px 4.5px;
}
.modal-header .close:focus, .modal-header .close:hover {
  opacity: 1;
}
.modal-title {
  text-align: center;
  font-family: Roboto-Regular;
    text-transform: uppercase;
}
.modal-content {
  border:solid 2px #fff;
  background: url("../images/slice_1_1.png") repeat;
  border-radius: 20px;
}

.modal-content .form-group.required .control-label:after {
  content:"*";
  color:red;
}

.modal-content :required  {
	 background: url("../images/required.png") no-repeat;
	 background-position:right center;
	}

.modal-content .form-control{
  background-color: #bcbcbc;
  color: #000;
}

.modal-content .form-control:focus{
  background-color: #fff;
}

.modal-content .added-section{
  margin-top:10px; border-top:solid 1px #777; padding-top:15px;
}


.modal-content ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}
.modal-content :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}
.modal-content ::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}

.modal-content .input-group{
  width: 100%;
}

.modal-content .input-group .input-group-addon {
  color: #000;
  text-align: center;
  background-color:#bcbcbc;
  border: 1px solid #fff;
  border-radius: 20px 0px 0px 20px;
  border-right: 0px;
  padding: 0px 6px;
}

.modal-content .input-group .input-group-addon .fa{
  padding:0px 4px 0px 5px;
}

.modal-content .input-group .btn{
  color: #000;
  background-color: #bcbcbc;
    border-radius: 0px 20px 20px 0px;
    text-transform: uppercase;
  padding-right: 40px;
        border: solid 1px #fff;
        border-left-color: #777 ;
}

.modal-content .thumbnail{background: #fff; padding: 4px; margin:0px; }
.modal-content .thumbnail>img {
    max-width: 70%;
}
.modal-content .thumbnail .caption {
  padding: 0px;
    padding-top: 9px;
    margin: 0px;
}

.modal-content .slider{
  border:1px solid #fff;
}

.modal-content .slider:before { bottom: 2px;}

/*---------------------------------------------------------------------------
  DATETIME PICKER
---------------------------------------------------------------------------*/
.modal-content .bootstrap-datetimepicker-widget{
  color:#000;
}
.modal-content .bootstrap-datetimepicker-widget table td span:hover {
    color:#000;
}

.modal-content .bootstrap-datetimepicker-widget a{
  color: #af0000;
}

.modal-content .timepicker-picker .btn{
  background-color: transparent;
  color:#000;
  margin:  0px;
  padding:  6px 12px;
  border:none;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 20px;
  background: #bcbcbc;
  width: 50px;
  margin-right: 3px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  color: #000;
  font-weight: 400;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #af0000;
  color: #fff;
}


 .modal-content .col-lg-1, .modal-content .col-lg-10, .modal-content .col-lg-11, .modal-content .col-lg-12, .modal-content .col-lg-2, .modal-content .col-lg-3, .modal-content .col-lg-4, .modal-content .col-lg-5, .modal-content .col-lg-6, .modal-content .col-lg-7, .modal-content .col-lg-8, .modal-content .col-lg-9, .modal-content .col-md-1, .modal-content .col-md-10, .modal-content .col-md-11, .modal-content .col-md-12, .modal-content .col-md-2, .modal-content .col-md-3, .modal-content .col-md-4, .modal-content .col-md-5, .modal-content .col-md-6, .modal-content .col-md-7, .modal-content .col-md-8, .modal-content .col-md-9, .modal-content .col-sm-1, .modal-content .col-sm-10, .modal-content .col-sm-11, .modal-content .col-sm-12, .modal-content .col-sm-2, .modal-content .col-sm-3, .modal-content .col-sm-4, .modal-content .col-sm-5, .modal-content .col-sm-6, .modal-content .col-sm-7, .modal-content .col-sm-8, .modal-content .col-sm-9, .modal-content .col-xs-1, .modal-content .col-xs-10, .modal-content .col-xs-11, .modal-content .col-xs-12, .modal-content .col-xs-2, .modal-content .col-xs-3, .modal-content .col-xs-4, .modal-content .col-xs-5, .modal-content .col-xs-6, .modal-content .col-xs-7, .modal-content .col-xs-8, .modal-content .col-xs-9 {
      padding:5px 10px;

}
